.login-container {
    /* background-color: #5e057e; */
    background-image: linear-gradient( #5A1E84, #5e057e);
}
.logo {
    color: mediumspringgreen;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
}