.leaderboard-container-container {
    background-color: mediumspringgreen;
    height: 70vh;
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 10px #180474;
    color:#5e057e;
    overflow: hidden;
    font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
    
}
.leaderboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 60vh;
    width: 90%;
    color: #180474;
}

.leaderboard-list {
    list-style:upper-roman;
    font-size: 3.5vh;
    font-weight: bold;
}

.leaderboard-container::-webkit-scrollbar {
    width: 20px;
    height: 50vh;
}

.leaderboard-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 15px #5e057e; 
    border-radius: 10px;
}

.leaderboard-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px #5e057e; 
    background-color: #4e1c61;
}