.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logout {
    background-color: mediumspringgreen;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
    color: #5E057E; 
    box-shadow: 5px 10px #180474;
}

.link-to-leaderboard {
    color: mediumspringgreen;
    font-size: large;
    font-weight: bold;
    text-shadow: 3px 3px #180474;
    text-decoration: none;
}
