.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5vw;
    padding-top: 100px;
    overflow: auto;
}

.correct-answer {
    border-color: #180474;
    background-color: mediumspringgreen;
    border-radius: 15px;
    border-style: solid;
    padding: 30px;
    margin: 30px;
    width: 50%;
    text-align: center;
    color: #180474;
    font-weight: bold;
    box-shadow: 15px 10px;
    font-size: min(4vw, 30px);
    font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
}


.waiting-room-timer{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
    color: mediumspringgreen;
    font-size: min(5vw, 45px);
    font-weight: bold;
    margin-bottom: 5vw;
}