.back-btn {
    background-color: mediumspringgreen;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
    color: #5E057E; 
    box-shadow: 5px 6px #180474;
}

.btn-container {
    padding-right: 4vw;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}