.game-over-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.w-l-container {
    height: 50vh;
}

.winner-loser-box {
    background-color: mediumspringgreen;
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 10px #180474;
    color:#180474;
    overflow: hidden;
    font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: #180474;
    height: 40%;
    width: 30vw;
    margin: 30px;
}