.timer {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    color: mediumspringgreen;
    font-size: 30px;
    font-weight: bold;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.question {
    color: #00fa9a;
    font-weight: bold;
}

.options-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

.options {
    height: 10vh;
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    color:#180474;
    background-color: mediumspringgreen;
    border-color: #180474;
    box-shadow: 5px 5px;
    border-style: solid;

}
