.waiting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-of-members {
    border-style: solid;
    border-color: #180474;
    list-style-type: none;
    border-radius: 10px 10px 10px 10px;
    background-color: mediumspringgreen;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 10px #180474;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {
    border: none;
    background-color: mediumspringgreen;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    font-family: 'Silkscreen';
    color: #5E057E;
    box-shadow: 5px 10px #180474;
    margin: 10px;
}

.wait-for-host {
    margin: 10px;
    color: #FFA500;
    font-size: large;
}

.game-id {
    color: #FFA500;
}
